html {
    /* height:100%; */
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
body {
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  display: flex;
  justify-content: center;
  align-items: center;
    
  }
  
  .card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
  }
  
  .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
  }
  .search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .search button img {
    width: 20px;
  }
  .weather {
    margin-top: 30px;
  }
  .weather-icon {
    width: 120px;
    margin-bottom: 10px;
  }
  .temp {
    font-size: 48px;
    margin-bottom: 10px;
  }
  .city {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .details {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .details .col {
    display: flex;
    align-items: center;
  }
  .details .col img {
    width: 30px;
    margin-right: 10px;
  }
  .details .col p {
    margin: 0;
    font-size: 16px;
  }
  .details .col .humidity,
  .details .col .wind {
    font-weight: bold;
    font-size: 18px;
  }
  